@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #1e3d59;
  --foreground: #f5f0e1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans), system-ui, sans-serif;
}

.limelight {
  font-family: var(--font-limelight), cursive;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}

