@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna:wght@400&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #f5f0e1;
  --foreground: #1e3d59;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f0e1;
    --foreground: #1e3d59;
  }
}

body,
.limelight {
  color: var(--foreground);
  background: var(--background);
  font-family: "Limelight", sans-serif;
}

p,
.unna {
  font-family: "Unna", serif;
  font-size: x-large;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}

p {
  padding: 0 13px;
}
