.myMasonryGrid {
  display: flex;
  margin-left: -10px;
  width: auto;
}

.myMasonryGridColumn {
  padding-left: 10px;
  background-clip: padding-box;
}

.imageWrapper {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

/* Overlay du carrousel en plein écran */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Bouton de fermeture */
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
